<button class="btn btn-info" routerLink ='/'>Back to Home</button>


<h2>Add a Bug:</h2>
<br>
<form [formGroup]="myForm" (ngSubmit)="Onsubmit()"  [class.was-validated]="myForm.invalid && myForm.dirty" >
    <div [ngClass]="{'has-error': myForm.get('title').invalid && myForm.get('title').dirty}">
      <label>Title</label>
    <input formControlName="title" type="text">
    <div *ngIf="myForm.get('title').invalid && myForm.get('title').dirty" >
     Field is required
    </div>
   </div>

      <div [ngClass]="{'has-error': myForm.get('description').invalid && myForm.get('description').dirty}">
          <label>Description</label>
        <input formControlName="description" type="text">
        <div *ngIf="myForm.get('description').invalid && myForm.get('description').dirty" >
         Field is required
        </div>
       </div>

    <div>
      <br> <label>Priority: </label>
      <select formControlName="priority" id='priority'>
        <option [ngValue]="null">Select Priority</option>
        <option *ngFor="let topic of topics" [value]="topic.id">{{topic.name}}</option>
      </select>
    </div>


    <div>
        <br>  <label>Reporter: </label>
           <select formControlName="reporter" id='reporter'>
              <option [ngValue]="null">Select Reporter</option>
              <option *ngFor="let rep of reporters" [value]="rep.name">{{rep.name}}</option>
            </select>
     </div>

     <div>
          <br><label>Status: </label>
          <select formControlName="status" id='status'>
              <option [ngValue]="null">Select Status</option>
              <option *ngFor="let stat of statusoptions" [value]="stat.name">{{stat.name}}</option>
              </select>
      </div>
       <br>

     <button  type="submit" value = "Onsubmit">Add Bug</button>
     <br>
     <br>

</form>
