<p class="text-center">Table works!</p>

<table class="table thead-light shadow">
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Priority</th>
      <th scope="col">Reporter</th>
      <th scope="col">Date</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="text-center">

    <tr>
      <th scope="row">1</th>
      <td>Dummy Title</td>
      <td>Dummy Priority</td>
      <td>Dummy Reporter</td>
      <td>Dummy Date</td>
      <td>Dummy Created</td>
      <td>Dummy Status</td>
    </tr>

  </tbody>
</table>
