Stephanos

<div class="container">
  <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <img style="height: 200pt;" src="assets/bugReportLogo.png" class="rounded mx-auto d-block" alt="BackReporter Image">
      </div>
      <div class="col-1">
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <a class="btn btn-primary" style="color: #ffffff; margin-bottom: 5pt; margin-right: 5pt" routerLink="/" routerLinkActive="active">Back to Home</a>
      <a class="btn btn-primary" style="margin-bottom: 5pt" routerLink="/post">Post a Bug</a>
      <router-outlet></router-outlet>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
