Stephanos

<div class="container">
  <div class="row">
      <div class="col-1">
        </div>
        <div class="col-10">
            <img style="height: 200pt;" src="assets/bugReportLogo.png" class="rounded mx-auto d-block" alt="BackReporter Image">
        </div>
        <div class="col-1">
        </div>
  </div>
  <br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <angularAcademyProject-table></angularAcademyProject-table>
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <angularAcademyProject-post-form></angularAcademyProject-post-form>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
